{# Basic content template: provides an overridable header/content/footer #}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %}Jude{{' TESTNET' if info and info.testnet else ' DEVNET' if info and
        info.devnet else ''}}
        Blockchain Explorer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    {% if refresh %}
    <meta http-equiv="refresh" content="{{refresh}}">
    {% endif %}
    {% endblock %}
    <link rel="icon" type="image/png" href="/favicon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon96.png" sizes="96x96">
</head>

<body>
    <div id="header" class="Wrapper">
        {% block header %}
        <div id="header-content">
            <h1 class="Header header-title"><a href="/">Jude
                    {%if info and info.testnet%}
                    <span style="color:#ff6b62">Testnet</span>
                    {%elif info and info.devnet%}
                    <span style="color:#af5bd2">Devnet</span>
                    {%endif%}
                    Blockchain Explorer</a></h1>
            <h3 class="sub-title"> build on RPC - no cookies - no web analytics trackers - no images - open sourced - awesome - safe</h3>

            <form action="/search" method="get" class="top-search">
                <input type="text" name="value" size="64"
                    placeholder="Block height, Block hash, Transaction ID">
                <input type="submit" class="PageButton" value="Search">
            </form>
        </div>
        <div class="TitleUnderliner" style="margin-bottom: 1em"></div>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer" class="Wrapper">
        {% block footer %}
        <div class="TitleDivider" style="margin-top: 1em"></div>
        <p style="margin-top:10px">
            <a href="https://github.com/Judecoin">Source Code</a>
            | Explorer Revision: {{server.revision}}
            | Judecoin Version: 3.0.0-debug
        </p>
        {% endblock %}
    </div>

</body>

</html>